# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
next-env.d.ts

# sanity
apps/studio/dist/
apps/studio/schema.json
.sanity/

# production
build/
dist/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# testing / coverage
coverage/

# os / editor
.DS_Store
*.pem
.idea/
.vscode/*
!.vscode/extensions.json

# misc
*.tsbuildinfo
