.root > * + * {
  margin-top: var(--space-xs);
}

.root ul {
  padding-left: 1.25em;
  list-style: disc;
}

.root li + li {
  margin-top: var(--space-3xs);
}

.root code {
  font-family: var(--font-mono);
  font-size: 0.9em;
}

.root a {
  color: var(--accent-link);
  text-decoration: underline;
  text-decoration-color: var(--accent-link);
  text-decoration-thickness: 1.2px !important;
  text-underline-offset: 0.08em;
}

@media (hover: hover) {
  .root a:hover {
    text-decoration: none;
  }
}

.root strong {
  font-weight: 500;
  background: var(--accent-strong);
  border-radius: 4px;
  mix-blend-mode: multiply;
}
